<h1>幼少期黒歴史一覧</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
        <img src="<%= "/user_images/#{post.user.image_name}" %>"><br>
        <%= link_to(post.user.name,"/users/#{post.user.id}") %><br>
        <p>投稿</p>
        <%= link_to(post.content,"/posts/#{post.id}") %>
    </li>
  <% end %>
</ul>


